<div class="well">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-6">
        <h1 class="col-sm-offset-4 down">Incompletos</h1>
        <% @completed.each do |i| %>
        <div class="col-sm-2">
          <%= i.description %>
        </div>
        <% end %>
      </div>
      <div class="col-sm-6">
        <h1  class="col-sm-offset-4 down">Completos</h1>
        <% @incompleted.each do |i| %>
        <div class="col-sm-2">
          <%= i.description %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
